@import '../../../styles/card.css';

.ticket {
  width: 100%;
  text-align: center;
  /* // background: red; */
}

.ticket:hover {
  cursor: pointer;
}

.delbtn {
  border-radius: 55% 4%;
  background-color: white;
}

.delbtn:hover {
  background-color: rgb(101, 179, 1);
  color: white;
}