<div class="header">
  <nav class="navbar rounded navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <span class="nav-link">MyApp</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stud_form">Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ticket_form">Add Ticket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tickets">Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/students">Students</a>
        </li>
      </ul>
    </div>
  </nav>
</div>